@{
    ViewBag.Title = "About";
    ViewBag.Message = "Evernest: event store for the masses";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Evernest is a distributed event store library for the Azure .NET platform,
    developped by students of ENS Paris.</p>
