@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ecole Normale Supérieure<br />
    45 rue d'Ulm, 75005 Paris<br />
</address>

<h3>Our dream team</h3>
<address>
    <strong>Project leader:</strong>   Elie Michel <code>elie [dot] michel [at] ens [dot] fr</code><br />
    <strong>Public relationships:</strong>  No, we're antisocial.
</address>

<h3>We're Open Source!</h3>
<address>
    <strong>Browse our code on GitHub: </strong> <a href="https://github.com/Evernest/Evernest">https://github.com/Evernest/Evernest</a>
</address>