
/* For the authentification */

.Evernest-menu-identification {
    display: inline-block;
    color: darkgrey;
    padding-top: 15px;
    float: right;
}

.Evernest-menu-identification ul {
    margin: 0;
    padding: 0;
}

.Evernest-menu-identification li {
    list-style-type: none;
    float: right;
    margin: 0px 15px;
}

.Evernest-menu-identification a {
    color: darkgray;
    display: inline-block;
}

.Evernest-menu-identification a:hover {
    text-decoration: none;
    color: azure;
}

/* For store-streams */

.store-streams{
    padding: 0px;
    margin: 0px;
}

.store-streams li{
    list-style-type: none;
    background-color: #aad2ef;
    margin: 0px 0px 1px 0px;
    padding: 3px 10px;
}

.store-streams li:hover{
    background-color: #b6d7ef;
}
