
@model EvernestWeb.ViewModels.NewStreamUserModelExtended

@using (Html.BeginForm("UpdateUserRightAdmin", "Manager", FormMethod.Post))
{
    <p class="evernest-callout-danger">Please, confirm with your password to set admin right for this user.</p>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <legend>Confirm Password</legend>
        <div class="form-group">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new {@class = "form-control", @placeholder = "Password"})
        </div>
        <input type="hidden" name="StreamId" value="@{ Write(ViewBag.StreamId);}" />
        <input type="hidden" name="NewUser" value="@{ Write(ViewBag.NewUser);}" />
        <input type="submit" class="btn btn-primary" value="Confirm" />
</fieldset>
}