@model EvernestWeb.ViewModels.GetEventById

@using (Html.BeginForm("Stream", "Manager", FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.EventId, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.EventId, new { @class = "form-control", @placeholder = "Pull event by ID..." })
    </div>
    <input type="hidden" name="StreamId" value="@{ Write(ViewBag.StreamId);}" />
    <input type="submit" class="btn btn-default" value="Pull" />

}
