@model EvernestWeb.ViewModels.NewStreamModel

@{Html.BeginForm("NewStream", "Manager", FormMethod.Post, new {@class = "form-inline"});}

@Html.AntiForgeryToken()

<div class="form-group">
    @Html.LabelFor(m => m.Name, new {@class = "sr-only"})
    @Html.TextBoxFor(m => m.Name, new {@class = "form-control", @placeholder = "Create new stream..."})
</div>

<input type="submit" class="btn btn-default" value="Create"/>

@{Html.EndForm();}

