@model IEnumerable<EvernestFront.EventStream>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Stream name</th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    @foreach (var stream in Model)
    {
        <tr>
            <td>@stream.Id</td>
            <td>@stream.Name</td>
            <td>@Html.ActionLink("Details", "Stream", "Manager", stream)</td>
            <td>@Html.ActionLink("Delete", "DeleteStream", "Manager", stream)</td>
        </tr>
    }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td>
                @{ Html.RenderPartial("_NewStreamPartial", new EvernestWeb.ViewModels.NewStreamModel()); }
            </td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>
