@model IEnumerable<EvernestWeb.Models.ModelStream>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Stream name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var stream in Model)
        {
            <tr>
                <td>@stream.Id</td>
                <td>@stream.Name</td>
                <td>@Html.ActionLink("Details", "Stream", "Manager", new {id = stream.Id}, null)</td>
                <td>@Html.ActionLink("Delete", "DeleteStream", "Manager", new { id = stream.Id }, null)</td>
            </tr>
        }
        @if (!Model.Any())
        {
            <tr>
                <td></td>
                <td><em>You have no stream yet.</em></td>
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td>
                @{ Html.RenderPartial("_NewStreamPartial", new EvernestWeb.ViewModels.NewStreamModel()); }
            </td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>
