@using EvernestWeb.Models;

@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section scripts {
    @RenderSection("scripts", false)
}

<div class="container body-content">
    @if (ViewBag.Message != "")
    {
        <p class="evernest-callout-success">
            @ViewBag.Message
        </p>
    }
    

    @RenderBody()
</div>
