@using EvernestWeb.Models;

@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section scripts {
    @RenderSection("scripts", false)
}

<div class="container body-content">
    @RenderBody()
</div>
