@{
    ViewBag.Title = "Contact";
}
<h2>Contact</h2>

<address>
    <b>Evernest Team</b><br/>
    45 rue d'Ulm<br/>
    75005 Paris<br/>
</address>

<address>
    <strong>Contact:</strong> <a href="mailto:contact@evernest.org">contact@evernest.org</a><br/>
</address>