@{
    ViewBag.Title = "Evernest - Documentation";
}
<h1>Documentation</h1>

<p>
    Evernest documentation is available on <a href="https://github.com/Evernest/Evernest/wiki">our wiki on GitHub.</a>
</p>