@{
    ViewBag.Title = "Evernest";
}

<div>
    <img alt="Evernest" src="@Url.Content("~/Content/Images/Evernest.png")" style="max-width: 60em" />
</div>

<div class="jumbotron">
    <p class="lead">
        Evernest is an easy-to-use event store service.
    </p>
    <p>
        A large part of daily data comes from different kinds of log output and is not easy to manage. It can be found in different places and with different representation format.
    </p>
    <p>
        Evernest provides a simple unified way to store and visualize event-driven data, thanks to a flexible API combined with a nice user interface.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Evernest provides you a simple interface, both for humans and programs.
            You can manage many <em>event streams</em> and isolate your different programs thanks to right limited <em>source API keys</em>.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web API</h2>
        <p>
            Interact with your Evernest data though a full featured web API.
        </p>
        <p><a class="btn btn-default" href="https://github.com/Evernest/Evernest/wiki/API-Reference">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Documentation</h2>
        <p>
            Evernest help pages are available on our Wiki.
        </p>
        <p><a class="btn btn-default" href="https://github.com/Evernest/Evernest/wiki">Learn more &raquo;</a></p>
    </div>
</div>