@model EvernestWeb.Models.User
@{
    ViewBag.Title = "Evernest - Account";
}

<h2 class="manager-navbar"><span class="manager-navbar-disabled">User profile</span> &gt; @Html.ActionLink(Model.Username, "Index", "Account") <span class="info">#@Model.Id</span></h2>


<div>
    <h4>Account actions</h4>

    <ul>
        <li>@Html.ActionLink("Change password", "ChangePwd", "Account")</li>
        <li>@Html.ActionLink("Evernest Manager", "Index", "Manager")</li>
    </ul>
</div>