<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageAccountConnectionString" value="UseDevelopmentStorage=true;" />
    <add key="MinimumBufferSize" value="100" />
    <add key="EventChunkSize" value="128" />
    <add key="PageBlobSize" value="1048576" />
    <add key="IndexUpdateMinimumEntryCount" value="10" />
    <add key="IndexUpdateMinimumDelay" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Dummy" value="false"/>
    <add key="DummyDataPath" value="C:\EvernestData\" />
  </appSettings>
</configuration>